<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/home.css">
</head>
<body>
  <h1>Welcome to the DCWA Project</h1>
  <h1>G00419296</h1>
  <ul>
    <li><a href="/students">Students</a></li>
    <li><a href="/grades">Grades</a></li>
    <li><a href="/lecturers">Lecturers</a></li>
  </ul>
</body>
</html>
