<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Students</title>
</head>
<body>
  <h1>Students</h1>
  <ul>
    <% students.forEach(student => { %>
      <li><%= student.sid %> - <%= student.name %> - <%= student.age %></li>
    <% }); %>
  </ul>
  <a href="/">Back to Home</a>
</body>
</html>
